@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

;

body {
  font-family: "Poppins", sans-serif;
}


@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 10s linear infinite;
}

.logo-slider:hover .animate-slide {
  animation-play-state: paused;
}